* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

.page-container {
  overflow-y: scroll;
}


.ZenQuote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.GitHubUserInfo-users {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 4rem 0 ;
}